<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346495301774-fs1av8q1clo875opdvmo4948bs9dlch2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346495301774-fs1av8q1clo875opdvmo4948bs9dlch2</string>
	<key>API_KEY</key>
	<string>AIzaSyDjZ5apf38aAMlmyIFYMW2Wsxw6g5zI4K0</string>
	<key>GCM_SENDER_ID</key>
	<string>346495301774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iiitdmj.lnf</string>
	<key>PROJECT_ID</key>
	<string>lostfoundiiitdmj0</string>
	<key>STORAGE_BUCKET</key>
	<string>lostfoundiiitdmj0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346495301774:ios:4521c0622868bcd94171df</string>
	<key>DATABASE_URL</key>
	<string>https://lostfoundiiitdmj0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>